[user]
	email = skipcloudgibson@gmail.com
	name = Skip Gibson
[core]
excludesfile = ~/.gitconfig
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[alias]
  # Remove any branches that have been merged to master
	clean-branches = !git checkout master && \
		git fetch --all -p &&\
		git pull &&\
		git branch --merge |\
		grep -vE 'staging|master' |\
		xargs git branch -d
	ctags = !.git/hooks/ctags
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	templatedir = ~/.git_template
