[user]
	email = skipcloudgibson@gmail.com
	name = Skip Gibson
[core]
	excludesfile = ~/.gitconfig
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[alias]
  # Remove any branches that have been merged to master
	clean-branches = !git checkout master && \
		git fetch --all -p &&\
		git pull &&\
		git branch --merge |\
		grep -vE 'staging|master' |\
		xargs --no-run-if-empty git branch -d &&\
		git checkout -
	ctags = !.git/hooks/ctags
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	templatedir = ~/.git_template
[rebase]
	autoSquash = true
	autoStash = true
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[rerere]
	# https://git-scm.com/book/en/v2/Git-Tools-Rerere
	enabled = true
